#view2 {
  height: 500px;
  /* background-color: green; */
}

.node rect {
  cursor: move;
  fill-opacity: 0.9;
  shape-rendering: crispEdges;
}

.link {
  fill: none;
  stroke: #000000;
  stroke-opacity: 0.2;
}
