#view2 {
  height: 500px;
  /* background-color: green; */
}

rect.background {
  fill: white;
}

.node rect {
  cursor: move;
  fill-opacity: 0.9;
  shape-rendering: crispEdges;
}

.node rect:hover {
  stroke-opacity: 0.5;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000000;
  stroke-opacity: 0.2;
}

.link:hover {
  stroke-opacity: 0.5;
}
